<!-- <div class="modal inmodal" id="modalISO27001" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:802px">
        <div class="modal-content animated bounceInDown">
            <div class="modal-header" style="padding: 10px !important">
                <button type="button" class="close" data-dismiss="modal" style="font-size: 20pt; padding: 5px"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">ISO/IEC 27001:2013</h4>                
            </div>
            <div class="modal-body" style="padding: 0px !important">
                <p>
                    <img src="https://www.eboxdigital.com.br/assets/img/ISO27001-Certificado-2019-2022.jpg" style="width: 800px"/>
                </p>
            </div>
            <div class="modal-footer" style="display: none; padding: 0px !important">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal" id="modalISO27701" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="width:802px">
        <div class="modal-content animated bounceInDown">
            <div class="modal-header" style="padding: 10px !important">
                <button type="button" class="close" data-dismiss="modal" style="font-size: 20pt; padding: 5px"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">ISO/IEC 27701:2019</h4>
            </div>
            <div class="modal-body" style="padding: 0px !important">
                <p>
                    <img src="https://www.eboxdigital.com.br/assets/img/certificado_pt_27701.jpg" style="width: 800px" />
                </p>
            </div>
            <div class="modal-footer" style="display: none; padding: 0px !important">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-6 animated fadeInLeft">
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title m-b-n">
              <h3><i class="fa fa-smile-o"></i> Olá {{user.nome}}!</h3>
            </div>
            <div class="ibox-content">
              <h5>QUEM SOMOS</h5>
              <p>A eBox é uma empresa que realiza a guarda e gestão de documentos digitais e físicos com alta tecnologia para pequenas, médias e grandes empresas.</p>
              <hr />

              <h5>NOSSA MISSÃO</h5>
              <p>Oferecer soluções de Gestão Documental física e digital, com inovação, rigor técnico e excelência na prestação de serviços para nossos clientes.</p>
              <hr />

              <h5>NOSSA VISÃO</h5>
              <p>Ser uma empresa inovadora e flexível em gestão documental, com excelência em tecnologia e processos, obter profundo conhecimento das atividades dos nossos clientes e setores em que atuam, bem como ser um dos líderes do mercado de gestão documental física e digital no Brasil.</p>
              <hr />

              <h5>NOSSOS VALORES</h5>
              <ul>
                <li>Foco no Cliente</li>
                <li>Atitude de Dono</li>
                <li>Excelência</li>
                <li>Compromisso com o Resultado</li>
                <li>Ética e Credibilidade</li>
                <li>Trabalho em Equipe</li>
                <li>Inovação</li>
                <li>Sustentabilidade</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-title m-b-n">
              <h3><i class="fa fa-bullseye"></i> Certificação ISO 27001/27701</h3>
            </div>
            <div class="ibox-content">
              <h5>O QUE É A ISO 27001/27701?</h5>
              <div class="clearfix m-b-sm">
                <img src="img/iso27001_27701.png" alt="ISO 27001/27701" style="float: left;padding-right: 10px;width: 100px;" />
                <p>A ISO/IEC 27001 é a norma internacional de gestão de segurança da informação. Ela descreve como colocar em prática um sistema de gestão de segurança da informação avaliado e certificado de forma independente. Isso permite que você proteja todos os dados financeiros e confidenciais de maneira mais eficiente, minimizando a probabilidade de serem acessados ilegalmente ou sem permissão.</p>
                <p>A ISO/IEC 27701 – é uma extensão da ISO/IEC 27001, e tem como objetivo adicionar novos controles no sistema de gestão de segurança da informação, visando garantir a total privacidade dos dados pessoais.</p>
              </div>
              <div class="gray-dashed-area">
                <h4>Somos certificados!</h4>
                <p>Após rigorosa auditoria realizada pela QMS Certification Services, recebemos os Certificados ISO 27001:2013 e ISO 27701:2019. Este é um grande avanço para toda a empresa e é fruto do trabalho de cada um de vocês!</p>
                <p>Parabéns a todos!</p>
                <p><a href="#" data-toggle="modal" data-target="#modalISO27001">Clique aqui e veja o certificado da ISO 27001:2013 na íntegra</a></p>
                <p><a href="#" data-toggle="modal" data-target="#modalISO27701">Clique aqui e veja o certificado da ISO 27701:2019 na íntegra</a></p>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 animated fadeInRight">
      <div class="row">
          <div class="col-lg-12">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      <h3><i class="fa fa-rss"></i> Artigos do Blog e Últimas Notícias</h3>
                  </div>
                  <div class="ibox-content" style="padding: 0px">
                      <div ng-show="vm.posts.length > 0" class="feed-activity-list" style="display: inline-block;">
                          <div class="white-bg carousel slide" id="carousel1" data-ride="carousel">
                              <ol class="carousel-indicators" style="border-radius: 5px; height: 34px; width: 60px; padding: 10px; margin-left: -30px; bottom: 10px">
                                  <li data-target="#carousel1"  *ngFor="let item of posts"></li>                                  
                              </ol>
                              <div class="carousel-inner">
                                  <div *ngFor="let item of posts" class="item" style="float: none;">
                                      <div class="ibox" style="border-radius: 5px; margin: 0px 20px 15px 20px">
                                          <div class="text-right" style="position: absolute; z-index: 30; right: 30px; top: 10px; padding: 3px 8px; background-color: #377DFF; border-radius: 5px">
                                              <small class="text-white" style="font-size: 9pt" am-time-ago="item.pubDate | amUtc | amUtcOffset:'-0300'"></small>
                                          </div>                                          
                                          <div>
                                              <div class="info-news" style="background-color: #00000070; min-height: 120px; position: absolute; bottom: 15px; margin-bottom: -0.1px; right: 20px; left: 20px; border-radius: 0px 0px 5px 5px">
                                                  <div class="pull-left border-right text-center" style="position: absolute; z-index: 30; top: 10px; padding: 5px 5px 0px 5px; height: 100px; width: 100px;">
                                                      <img class="img-circle circle-border" style="width: 46px; border-width: 2px" src="{{item.authorAvatarUrl}}" />
                                                      <p class="text-white text-center p-xs">{{item.authorName}}</p>
                                                  </div>
                                                  <div class="p-sm" style="padding-bottom: 5px; margin-left: 120px">
                                                      <div style="min-height: 25px; color: #F0F0F0; text-transform: uppercase; font-size: 12px; font-weight: 500 !important">{{item.categoryName}}</div>
                                                      <div style="color: #E0E0E0; font-size: 13px">{{item.title}}</div>
                                                  </div>
                                                  <div style="padding: 4px 5px 4px 17px; background-color: #377DFF; width: 110px; border-radius: 5px; border-radius: 7px 0px 5px 0px; bottom: 0; right: 0; position: absolute">
                                                      <a style="color: #FFF !important" href=" https://www.eboxdigital.com.br/blog/{{item.slug}}" target="_blank">Leia mais<i class="fa fa-arrow-right p-w-xs"></i></a>
                                                  </div>
                                              </div>
                                              <div ng-show="item.storageImageId !== null">
                                                  <a href="https://www.eboxdigital.com.br/blog/{{item.slug}}" target="_blank">
                                                      <img class="img-container" src="{{item.storageImageUrl}}" alt="{{item.title}}" style="border-radius: 5px" />
                                                  </a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  
                              </div>
                          </div>                         
                      </div>

                      <div ng-show="vm.posts.length === 0 && vm.loadedNews">
                          <p>nenhuma notícia no momento.</p>
                      </div>
                      <i ng-show="vm.posts.length === 0 && !vm.loadedNews" class="fa fa-spinner fa-pulse m-sm"></i>
                  </div>
              </div>              
          </div>
      </div>
    </div>
  </div>
</div>
<script>
    $('.carousel').carousel();
</script> -->


<button (click)="testeApi()">CLICK</button>