<div class="md-skin navbar">
    <div class="navbar-default navbar-static-side ng-scope">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element">
                    <span class="label label-info pull-right ng-binding">homolog</span>
                    <a href="">
                        <div class="main-logo"></div>
                    </a>
                    <span class="block m-t-xs">
                        <strong class="font-bold text-white ng-binding">Davi Wollmann</strong>
                        <a class="m-l-xs" (click)="classic('preferencias')">
                            <i class="fa fa-cog"></i>
                        </a>
                    </span>
                    <span class="block text-white">
                        <small class="ng-binding">davi.s@lyncas.net</small>
                    </span>
                </div>
            </li>
            <li class="active">
                <a (click)="classic('inicio')">
                    <i class="fa fa-home"></i>
                    <span class="nav-label">Início</span>
                </a>
            </li>
            <li class="ng-isolate-scope">
                <a (click)="classic('administracao')">
                    <i class="fa fa-cogs"></i>
                    <span class="nav-label">Administração</span>
                </a>
            </li>
            <li class="ng-isolate-scope">
                <a (click)="classic('atendimento')">
                    <i class="fa fa-truck"></i>
                    <span class="nav-label">Atendimento</span>
                </a>
            </li>
            <li class="ng-isolate-scope">
                <a (click)="classic('comercial')">
                    <i class="fa fa-briefcase"></i>
                    <span class="nav-label">Comercial</span>
                </a>
            </li>
            <li class="ng-isolate-scope">
                <a (click)="classic('financeiro')">
                    <i class="fa fa-line-chart"></i>
                    <span class="nav-label">Financeiro</span>
                </a>
            </li>
            <li class="ng-isolate-scope">
                <a (click)="classic('galpao')">
                    <i class="fa fa-cubes"></i>
                    <span class="nav-label">Galpão</span>
                </a>
            </li>
            <li class="ng-isolate-scope">
                <a (click)="classic('marketing')">
                    <i class="fa fa-rss"></i>
                    <span class="nav-label">Marketing</span>
                </a>
            </li>
            <li class="ng-isolate-scope">
                <a (click)="classic('operacao')">
                    <i class="fa fa-puzzle-piece"></i>
                    <span class="nav-label">Operação</span>
                </a>
            </li>
            <li class="ng-isolate-scope">
                <a (click)="classic('projetos')">
                    <i class="fa fa-folder-open"></i>
                    <span class="nav-label">Projetos</span>
                </a>
            </li>
            <li class="ng-isolate-scope" style="display: none;">
                <a (click)="classic('relatorios')">
                    <i class="fa fa-print"></i>
                    <span class="nav-label">Relatórios</span>
                </a>
            </li>
            <li class="ng-isolate-scope">
                <a  (click)="classic('seguranca-informacao')">
                    <i class="fa fa-shield"></i>
                    <span class="nav-label">Segurança da Informação</span>
                </a>
            </li>
            <li class="ng-isolate-scope">
                <a (click)="classic('sustentacao')">
                    <i class="fa fa-cogs"></i>
                    <span class="nav-label">Sustentação</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
