<div class="sidenav">
    <div>
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div>
                    <span class="label label-info pull-right">homolog</span>
                    <a href="">
                        <div class="main-logo"></div>
                    </a>
                    <span *ngIf="user?.name">
                        <span>{{user.name}}</span>
                        <a (click)="navigate('preferencias')">
                            &nbsp;
                            <i class="fa fa-cog"></i>
                            
                        </a>
                    </span>
                    <br>
                    <span *ngIf="user?.email">
                        <small>{{user.email}}</small>
                    </span>
                </div>
            </li>
            <li class="active">
                <a (click)="navigate('inicio')">
                    <i class="fa fa-home"></i>
                    &nbsp;
                    <span class="nav-label">Início</span>
                </a>
            </li>
            <li *hasRole="'administracao'">
                <a (click)="navigate('administracao')">
                    <i class="fa fa-cogs"></i>
                    &nbsp;
                    <span class="nav-label">Administração</span>
                </a>
            </li>
            <li>
                <a (click)="navigate('atendimento')">
                    <i class="fa fa-truck"></i>
                    &nbsp;
                    <span class="nav-label">Atendimento</span>
                </a>
            </li>
            <li>
                <a (click)="navigate('comercial')">
                    <i class="fa fa-briefcase"></i>
                    &nbsp;
                    <span class="nav-label">Comercial</span>
                </a>
            </li>
            <li>
                <a (click)="navigate('financeiro')">
                    <i class="fa fa-line-chart"></i>
                    &nbsp;
                    <span class="nav-label">Financeiro</span>
                </a>
            </li>
            <li>
                <a (click)="navigate('galpao')">
                    <i class="fa fa-cubes"></i>
                    &nbsp;
                    <span class="nav-label">Galpão</span>
                </a>
            </li>
            <li>
                <a (click)="navigate('marketing')">
                    <i class="fa fa-rss"></i>
                    &nbsp;
                    <span class="nav-label">Marketing</span>
                </a>
            </li>
            <li>
                <a (click)="navigate('operacao')">
                    <i class="fa fa-puzzle-piece"></i>
                    &nbsp;
                    <span class="nav-label">Operação</span>
                </a>
            </li>
            <li>
                <a (click)="navigate('projetos')">
                    <i class="fa fa-folder-open"></i>
                    &nbsp;
                    <span class="nav-label">Projetos</span>
                </a>
            </li>
            <li style="display: none;">
                <a (click)="navigate('relatorios')">
                    <i class="fa fa-print"></i>
                    &nbsp;
                    <span class="nav-label">Relatórios</span>
                </a>
            </li>
            <li>
                <a (click)="navigate('seguranca-informacao')">
                    <div>
                        <i class="fa fa-shield"></i>
                        &nbsp;
                        <span class="nav-label">Segurança da Informação</span>
                    </div>
                </a>
            </li>
            <li>
                <a (click)="navigate('sustentacao')">
                    <i class="fa fa-cogs"></i>
                    &nbsp;
                    <span class="nav-label">Sustentação</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="content">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
    </div>
</div>
